<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconPath</key>
		<string>Terminal</string>
		<key>identifier</key>
		<string>com.apple.Terminal</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>终端</string>
		<key>number</key>
		<string>1</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>Xcode</string>
		<key>identifier</key>
		<string>com.apple.dt.Xcode</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Xcode</string>
		<key>number</key>
		<string>2</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>SEScriptEditorX</string>
		<key>identifier</key>
		<string>com.apple.ScriptEditor2</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>AppleScript 编辑器 2</string>
		<key>number</key>
		<string>3</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>Console</string>
		<key>identifier</key>
		<string>com.apple.Console</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>控制台</string>
		<key>number</key>
		<string>4</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>Eclipse</string>
		<key>identifier</key>
		<string>org.eclipse.eclipse</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Eclipse</string>
		<key>number</key>
		<string>5</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>webide</string>
		<key>identifier</key>
		<string>com.jetbrains.WebStorm</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>WebStorm 5</string>
		<key>number</key>
		<string>6</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>idea</string>
		<key>identifier</key>
		<string>com.jetbrains.intellij.ce</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>IntelliJ IDEA 11</string>
		<key>number</key>
		<string>7</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>SecureCRT</string>
		<key>identifier</key>
		<string>com.vandyke.SecureCRT</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>SecureCRT</string>
		<key>number</key>
		<string>8</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>iTerm</string>
		<key>identifier</key>
		<string>com.googlecode.iterm2</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>iTerm 2</string>
		<key>number</key>
		<string>9</string>
	</dict>
	<string></string>
	<dict>
		<key>iconPath</key>
		<string>ZendStudio</string>
		<key>identifier</key>
		<string>com.zend.studio</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Zend Studio</string>
		<key>number</key>
		<string>10</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>coda</string>
		<key>identifier</key>
		<string>com.panic.Coda2</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Coda 2</string>
		<key>number</key>
		<string>11</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>PyCharm</string>
		<key>identifier</key>
		<string>com.jetbrains.pycharm</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>PyCharm</string>
		<key>number</key>
		<string>12</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>radrails</string>
		<key>identifier</key>
		<string>com.aptana.studio3</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Aptana Studio 3</string>
		<key>number</key>
		<string>13</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>komodo</string>
		<key>identifier</key>
		<string>com.activestate.KomodoIDE</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>ActiveState Komodo IDE</string>
		<key>number</key>
		<string>14</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>SublimeText</string>
		<key>identifier</key>
		<string>com.sublimetext.2</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Sublime Text 2</string>
		<key>number</key>
		<string>15</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>TextMate</string>
		<key>identifier</key>
		<string>com.macromates.TextMate.preview</string>
		<key>isCheck</key>
		<string>0</string>
		<key>name</key>
		<string>TextMate 2.0 alpha</string>
		<key>number</key>
		<string>16</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>BBEdit</string>
		<key>identifier</key>
		<string>com.barebones.bbedit</string>
		<key>isCheck</key>
		<string>0</string>
		<key>name</key>
		<string>BBEdit</string>
		<key>number</key>
		<string>17</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>Alfred</string>
		<key>identifier</key>
		<string>com.runningwithcrayons.Alfred-2</string>
		<key>isCheck</key>
		<string>0</string>
		<key>name</key>
		<string>Alfred 2</string>
		<key>number</key>
		<string>18</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>indesign</string>
		<key>identifier</key>
		<string>com.adobe.InDesign</string>
		<key>isCheck</key>
		<string>0</string>
		<key>name</key>
		<string>InDesign CS 5/5.5/6</string>
		<key>number</key>
		<string>19</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>Alfred</string>
		<key>identifier</key>
		<string>com.runningwithcrayons.Alfred-3</string>
		<key>isCheck</key>
		<string>1</string>
		<key>name</key>
		<string>Alfred 3</string>
		<key>number</key>
		<string>20</string>
	</dict>
	<dict>
		<key>iconPath</key>
		<string>spotlight</string>
		<key>identifier</key>
		<string>com.apple.Spotlight</string>
		<key>isCheck</key>
		<string>0</string>
		<key>name</key>
		<string>Spotlight</string>
		<key>number</key>
		<string>21</string>
	</dict>
</array>
</plist>
