<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3PL61nqLnD7W6PPaFBRFnHhtkMGwENL4/1DDxQluYOrBb5mLtJqLl1aa0iSN2HLWHeatnx7j6fy6NZX7vN2mQ3OzP24xaLGNH+bd7IwoZakIALPSBssxn/V2elnoYfkeiYLuVohrnea0soFsEsQ364H72kFcs0ojJs2NGJ/bvQ3bVWkHSxWVYhoQBQHmlN9CK50OQxQ</string>
	<key>email</key>
	<string>symmetry@CORE.com</string>
	<key>hash</key>
	<string>HOLBPBo5Rs84bBTN9yS7MSPXYt5W2Yr6VKmxGQsXdJ78sS4Z7zUmbalCElJeGJWNV3uRjpRfHYpPSeZl6LSnSDjSnI31xWUC8sfvfh5D3VhXc08OVHH9kCRGgmneEDNm/91EYnxV36dSla1cU8WGBtEsiClPdXLXZ+CzktD7SpSTlElOqjfG</string>
</dict>
</plist>
