<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3PLMuHG6LOGdegbxaf6IkogGp0WMzGJbHbcm+z8pHcQggD8+N55vrNj1MCGpzAAa1NvuQ/gLHjpBn3SIDbsOuzI6u6iLC6tlFKHqde/byYUUloORJTq5x5+kwEZ5ny7U/TXVh9KtRd2jVL+j4pez5muWRHUXOdD/ywjjUqcsiC4b+eHctyOnnGfMqLv0KcTrBdf0Akm</string>
	<key>email</key>
	<string>symmetry@CORE.com</string>
	<key>hash</key>
	<string>AWCD+/AqRjDuRR+0LVYxhwBGGwZQ4gA2tMDz5q0/MQcL4ouPdauMlyiIIMPzXxBLF45FFKat0J0LHmSgnG0L37iiagTr0BOiAOPH0by/zkIYVmJ8s1CZJey6PdWvzANTGeMRTCfJIR2P2bVxOVEK299QVdbW9NoJftA/bEzxhU3XbjMEtAGB</string>
</dict>
</plist>
