Host 10.*
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials no

Host *
	ForwardAgent yes
	ServerAliveInterval 60
	ServerAliveCountMax 99999
	TCPKeepAlive no
	ControlMaster auto
	ControlPath ~/.ssh/%h-%p-%r
	ControlPersist 4h
	Compression yes

Host qcloud
	HostName 115.159.123.174
	User root
	Port 22
	IdentityFile ~/.ssh/id_rsa
